* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #2A7B9B;
    background: radial-gradient(circle, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 137, 1) 76%, rgba(114, 83, 237, 1) 100%);
}

nav{
    background: #7253edbd;
    color: aliceblue;
    text-align: center;
    padding: 1rem
}

.button-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.button-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.color{
    color: #2A7B9B;
}

.result{
    text-align: center;
}

.win{
    color: green;
    font-size: 1.5rem;
    font-weight: 600;
}

.tie{
    color: yellow;
    font-size: 1.5rem;
    font-weight: 600;
}

.lost{
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
}